{
  "presets": ["es2015-node6", "stage-0", "react"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["closure-elimination"]
    }
  }
}
