{
  "presets": [
    ["env", { "targets": { "node": 7.6 } }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["closure-elimination"]
    }
  }
}
