{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prefer-stateless-function": 0,
    "consistent-return": 0,
    "strict": 0,
    "no-console": 0,
    "no-param-reassign": ["error", { "props": false }],
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "no-underscore-dangle": ["error", { "allow": ["__IS_REDUX_NATIVE_MESSAGE__"] }]
  }
}
